<?php
$title = 'Signup';
$this->headTitle($title);
if (isset($this->form)) {
    $form = $this->form;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <div class="main-content">
        <section class="login">
            <div class="login-box">
                <h5>Create your account</h5>

                <div class="control-group">
                    <label for="inputEmail" class="control-label">Email</label>

                    <div class="controls">
                        <?php echo $this->formElement($form->get('email')); ?>
                    </div>
                    <label for="inputEmail" class="control-label">First Name</label>

                    <div class="controls">
                        <?php echo $this->formElement($form->get('firstName')); ?>
                    </div>
                    <label for="inputEmail" class="control-label">Last Name</label>

                    <div class="controls">
                        <?php echo $this->formElement($form->get('lastName')); ?>
                    </div>
                    <label for="inputEmail" class="control-label">Password</label>

                    <div class="controls">
                        <?php echo $this->formElement($form->get('password')); ?>
                    </div>


                </div>
                <div class="login-bottom">

                    <input type="submit" value="Join" class="btn-orange fr"/>
                </div>
                <div class="clear"></div>
            </div>
        </section>
    </div>
    <?php echo $this->form()->closeTag($form); ?>
<?php } ?>